<div class="header bg-milligram-blue pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <label class="h3 my-auto">
              Listado de Terceros
            </label>
            <div class="float-right">
              <a class="btn btn-success btn-sm float-right" [routerLink]="['registrar_usuario']">Registrar Tercero</a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th>Nit</th>
                  <th>Razon social</th>
                  <th>Tipo</th>
                  <th>Activo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users, let i = index">
                  <th>{{ user.nit }}</th>
                  <th>{{ user.razon_social }}</th>
                  <td>{{ user.tipo }}</td>
                  <td>{{ user.activo === 's' ? 'Activo' : 'No activo' }}</td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                      <button [routerLink]="['editar_usuario', user.id]" type="button" class="btn btn-warning">
                        <i class="far fa-edit"></i>
                      </button>
                      <button (click)="deleteUser(user.id, i)" type="button" class="btn btn-danger ml-2">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
          </div>
        </div>
      </div>
    </div>
  </div>
